---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.svelte";
import { FileText, Github, Linkedin } from "lucide-svelte";
---

<Layout title="Anton Bubel - Senior Full Stack Developer">
  <main class="container py-20">
    <div
      class="flex flex-col md:flex-row justify-center items-center gap-6 pb-6"
    >
      <img
        src="/profile-picture.webp"
        alt="Anton Bubel"
        class="rounded-full w-32 h-32 animate-fade"
      />
      <div class="prose text-center md:text-left">
        <h1
          class="mb-2 inline-block overflow-hidden whitespace-nowrap font-mono animate-typing border-r-4 text-2xl sm:text-3xl"
        >
          Hi there, I'm
          <span class="text-primary">Anton</span><span class="pl-2">👋</span>
        </h1>
        <p class="mt-0 font-mono text-lg animate-fade">
          a passionate full stack developer with over 5+ years of experience
          building web applications.
        </p>
      </div>
    </div>
    <div class="flex justify-center gap-3">
      <Link
        href="/anton-bubel-resume.pdf"
        target="_blank"
        className="btn btn-outline btn-primary btn-sm"
        ariaLabel="Open CV in a new tab"
        client:idle
      >
        <FileText />
        CV
      </Link>
      <Link
        href="https://github.com/antonbubel/"
        target="_blank"
        ariaLabel="GitHub profile"
        className="btn btn-sm btn-secondary btn-outline"
        client:idle
      >
        <Github />
      </Link>
      <Link
        href="https://www.linkedin.com/in/antonbubel/"
        target="_blank"
        ariaLabel="LinkedIn profile"
        className="btn btn-sm btn-accent btn-outline"
        client:idle
      >
        <Linkedin />
      </Link>
    </div>
  </main>
</Layout>
